doctype html
html
  head
    title Anurag Dance Academy 
    block script 
    block style 

  body
    nav#navbar
        ul
            div#logo 
              img(src="/static/4a.jpeg")
            li #[a(href="/") Home]  
            li #[a(href="/") About]
            li #[a(href="/") Services] 
            li #[a(href="/") Class info] 
            li #[a(href="/contact") Contact Us]
        h5 ADA
    block content
    footer#footer 
        | Copyright © 2023 Anuragdanceacademy.com | All right reserved 
    