extends base.pug

block script
  script(src='/static/index.js')

block style 
    style
      include ../static/style.css

block content 
    
    section#introsection 
        div  Welcome to Anurag's Dance Academy
        div.small EAT SLEEP DANCE REPEAT

    section#missionsection
        H1 Our Mission
        div#res 
          div.card   
            h3 Dance Perfection
            div.card-box 
              div.card-t 
                img(src="/static/2a.jpeg") 
              div.card-content 
                p.st This academy provide perfection in your dance.

          div.card   
            h3 Dance the way you like
            div.card-box 
              div.card-t 
                img(src="/static/1a.png")
              div.card-content 
                p.st You can choose any dance form.Many type of Dance form are available. 

          div.card   
            h3 Expert Teaching
            div.card-box 
              div.card-t 
                img(src="/static/4a.jpeg")
              div.card-content 
                p.st Expert teacher are available to guide and teach you.
    section#sponsersection
        | Our Sponser
        div.sponser 
          img(src="/static/apple.png")
          img(src="/static/microsoft.png")
          img(src="/static/nike.png")